langchain
python-dotenv
ipykernel
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
langchain-openai
chromadb
sentence_transformers
langchain_huggingface
faiss-cpu
langchain_chroma
duckdb
pandas
openai
langchain-groq
duckduckgo-search
pymupdf
arxiv
wikipedia
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
validators
youtube-transcript-api
pytube
langchain_huggingface
huggingface_hub
pysqlite3-binary
